<div class="container">
    <div class="card">
        <div class="card-header">
            ACTUALIZAR CONTRASEÑA - USUARIO
        </div>      
        <div class="card-body">
            <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="UserId" class="form-label">ID</label>
                        <input type="text" id="UserId" class="form-control" formControlName="UserId" />
                    </div>
                    <div class="form-group col-4">
                        <label for="LoginName" class="form-label">Login</label>
                        <input type="text" id="LoginName" class="form-control" formControlName="LoginName" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col">
                        <label for="Password" class="form-label">Contraseña</label>
                        <input type="password" id="Password" class="form-control" formControlName="Password" autofocus/>
                        <small *ngIf="form.get('Password').errors?.required && (form.get('Password').dirty || form.get('Password').touched)" class="text-danger">
                            Ingresa una contraseña
                        </small >
                        <small *ngIf="form.get('Password').errors?.minlength && (form.get('Password').dirty || form.get('Password').touched)" class="text-danger">
                            Debe tener al menos 8 caracteres
                        </small >
                    </div>
                    <div class="form-group col">
                        <label for="PasswordConfirmation" class="form-label">Confirmar contraseña</label>
                        <input type="password" id="PasswordConfirmation" class="form-control" formControlName="PasswordConfirmation"/>
                        <small *ngIf="form.get('PasswordConfirmation').errors?.confirmPasswordValidator"  class="text-danger">
                             La contraseña de confirmación no coincide
                        </small>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success" [disabled]="sending">GUARDAR CAMBIOS</button>
                    </div>
                    <div class="col">
                        <a routerLink="" class="btn btn-secondary">CANCELAR</a>
                    </div>                    
                  </div>
              </form>
              <br>
              <small *ngIf="messageFromAPI"  class="text-danger">{{messageFromAPI}}</small>
        </div>
      </div>
  </div>