<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-danger">ERROR</h1>
            <div>
                <p>Uppss a ocurrido un error, nuestros lo ingenieros estan revisando lo.
                </p>
            </div>
            <a routerLink="" class="btn btn-outline-warning ">
                ir a la página principal
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img [src]="image" alt="engineer working">
        </div>
    </div>
</div>